services:
  postgres:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: prod_db
    ports:
      - "5432:5432"
    command: >
      postgres
      -c max_connections=100
      -c shared_buffers=256MB
    networks:
      - postgres
    
  flyway:
    image: flyway/flyway
    container_name: flyway
    depends_on:
      postgres:
        condition: service_started
    volumes:
      - ./flyway/sql:/flyway/sql
    command: -url=jdbc:postgresql://postgres:5432/prod_db
             -user=postgres
             -password=root
             migrate
    networks:
      - postgres

networks:
  postgres:
    name: postgres